/*----------------------------------COLOUR */

.ui-menu-color-home {
    background-color: rgba(123, 139, 182, 0.667);
    text-align: center;
}

.ui-menu-color-aboutus {
    background-color: rgba(123, 139, 182, 0.667);
    text-align: center;
}

.ui-menu-color-events {
    background-color: rgba(123, 139, 182, 0.667);
    text-align: center;
}
.bg-color-name-title {
    background-color: rgba(16, 51, 150, 0.667);
    margin-right: 25%;
    font-family:cursive;
    font-weight: 100;
    font-size: 36px;
    margin-top: 0px;
    color: #f1f0ea;
}

/*----------------------------------heading */

header{
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background-image: url("../images/sun.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}
.name {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #f1f0ea;
}
.list-inline-item:not(:last-child) {
margin: 0;
}

.menucontainer {
font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: whitesmoke;
    font-size: 36px;
}
.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}