/*----------------------------------COLOUR */

.bg-color-name-title {
    background-color: blue;
    font-family:cursive;
    font-weight: 100;
    font-size: 36px;
    margin-top: 50px;
    color: #f1f0ea;
}

/*----------------------------------heading */

header{
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.heading{
    margin-left: 50px;
}

.logo {
    background-image: url("../images/sun.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}
.name {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #f1f0ea;
}